@import url("https://fonts.cdnfonts.com/css/calculator");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Calculator", sans-serif;
}

body {
	width: 100%;
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 5rem;
}

.calculator-Container {
	width: 25%;
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: black;
}

.number-Container {
	margin-top: 3rem;
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-family: "Calculator", sans-serif;
	font-size: 4rem;
	padding: 1rem;
	text-align: right;
	white-space: pre-wrap;
	overflow: visible;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.icons-Container {
	display: grid;
	grid-template-columns: repeat(4, 4.25rem);
	width: 100%;
	grid-gap: 0.5rem;
	padding: 1rem;
}

button {
	width: 100%;
	border-radius: 50%;
	padding: 0.8rem 0.5rem;
	font-size: 1.5rem;
	text-align: center;
	cursor: pointer;
	font-weight: 800;
	border: none;
	outline: none;
}

.upperButton {
	background-color: #ced4da;
}

.rightButton {
	background-color: #ff9500;
	color: white;
}

.centerButton {
	background-color: #333533;
	color: white;
}

.zero {
	grid-column: span 2;
}

/* history */
.historyContainer {
	background-color: black;
	width: 25%;
	height: 40%;
	color: white;
}
